@font-face {
    font-family: GothamPro;
    src: url(./GothamPro-Light.eot);
    src: url(./fonts/GothamPro-Light.woff2) format("woff2"),url(./fonts/GothamPro-Light.woff) format("woff"),url(./fonts/GothamPro-Light.ttf) format("truetype"),url(./fonts/GothamPro-Light.svg#GothamPro-Light) format("svg"),url(./fonts/GothamPro-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: normal
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-LightItalic.eot);
    src: url(./fonts/GothamPro-LightItalic.woff2) format("woff2"),url(./fonts/GothamPro-LightItalic.woff) format("woff"),url(./fonts/GothamPro-LightItalic.ttf) format("truetype"),url(./fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic) format("svg"),url(./fonts/GothamPro-LightItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: italic
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro.eot);
    src: url(./fonts/GothamPro.woff2) format("woff2"),url(./fonts/GothamPro.woff) format("woff"),url(./fonts/GothamPro.ttf) format("truetype"),url(./fonts/GothamPro.svg#GothamPro) format("svg"),url(./fonts/GothamPro.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-Italic.eot);
    src: url(./fonts/GothamPro-Italic.woff2) format("woff2"),url(./fonts/GothamPro-Italic.woff) format("woff"),url(./fonts/GothamPro-Italic.ttf) format("truetype"),url(./fonts/GothamPro-Italic.svg#GothamPro-Italic) format("svg"),url(./fonts/GothamPro-Italic.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: italic
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-Medium.eot);
    src: url(./fonts/GothamPro-Medium.woff2) format("woff2"),url(./fonts/GothamPro-Medium.woff) format("woff"),url(./fonts/GothamPro-Medium.ttf) format("truetype"),url(./fonts/GothamPro-Medium.svg#GothamPro-Medium) format("svg"),url(./fonts/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-MediumItalic.eot);
    src: url(./fonts/GothamPro-MediumItalic.woff2) format("woff2"),url(./fonts/GothamPro-MediumItalic.woff) format("woff"),url(./fonts/GothamPro-MediumItalic.ttf) format("truetype"),url(./fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic) format("svg"),url(./fonts/GothamPro-MediumItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: italic
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-Bold.eot);
    src: url(./fonts/GothamPro-Bold.woff2) format("woff2"),url(./fonts/GothamPro-Bold.woff) format("woff"),url(./fonts/GothamPro-Bold.ttf) format("truetype"),url(./fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg"),url(./fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: normal
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-BoldItalic.eot);
    src: url(./fonts/GothamPro-BoldItalic.woff2) format("woff2"),url(./fonts/GothamPro-BoldItalic.woff) format("woff"),url(./fonts/GothamPro-BoldItalic.ttf) format("truetype"),url(./fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic) format("svg"),url(./fonts/GothamPro-BoldItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: italic
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-Black.eot);
    src: url(./fonts/GothamPro-Black.woff2) format("woff2"),url(./fonts/GothamPro-Black.woff) format("woff"),url(./fonts/GothamPro-Black.ttf) format("truetype"),url(./fonts/GothamPro-Black.svg#GothamPro-Black) format("svg"),url(./fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: normal
  }
  
  @font-face {
    font-family: GothamPro;
    src: url(./fonts/GothamPro-BlackItalic.eot);
    src: url(./fonts/GothamPro-BlackItalic.woff2) format("woff2"),url(./fonts/GothamPro-BlackItalic.woff) format("woff"),url(./fonts/GothamPro-BlackItalic.ttf) format("truetype"),url(./fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic) format("svg"),url(./fonts/GothamPro-BlackItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: italic
  }
  

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'GothamPro';
}

header {
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main-logo a {
  text-decoration: none;
  font-weight: 600;
  color: #012991;
  position: relative;
}

header .main-logo a img {
  width: 300px;
}

header .main-logo a span {
  position: absolute;
  text-wrap: nowrap;
  bottom: -12px;
  padding-left: 10px;
}

header .features-checklist ul {
  list-style: none;
}

header .features-checklist ul li {
  margin: 5px 0;
}

header .features-checklist ul li:before {
content: '✓ ';
font-weight: 900;
color: green;
}

main {
    background-color: #032c6b;
    background-image: url("/glow.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 5%;
    color: #FFF;
}

main .main-header h1 {
  font-weight: 100;
  font-size: 3.7em;
  margin: 0;
}

main .main-header h2 {
  font-weight: 400;
  font-size: 2.65em;
  margin: 0;
}

main .main-search {
  margin-top: 4em;
}

main .main-search .main-search-input {
  width: 100%;
  border-radius: 100px;
  font-size: 1.3rem;
  padding: 1.5em;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: none;
  margin-top: 10px;
  background-color: #eceff3;
  color: #7d8389;
}

main .main-search .search-placeholder {
  padding-left: 90px;
}

main .main-search .main-search-select {
  text-align: left;
}

main .main-search .main-search-select i {
  position: absolute;
  margin-top: 5px;
  right: 30px;
  font-size: 2rem;
  color: #a6aaad;
}

main .autocomplete-wrapper {
  position: relative;
}

main #query-results {
  display: none;
  position: absolute;
  left: 50px;
  bottom: -36px;
  top: 100px;
  overflow-y: scroll;
  min-height: 50px;
  max-height: 400px;
  list-style: none;
  z-index: 3;
  background-color: #FFFFFF;
  color: #000000;
  padding-left: 0;
}

main #query-results li {
  padding: 8px 40px;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 100;
}

main #query-results li:hover {
  background-color: #7d8389;
  cursor: pointer;
}

main #query-results .highlight-autocomplete {
  color: #006ee0;
}

.input-with-colored-bullet {
  position: relative;
}

.colored-bullet {
  border-radius: 100px;
  background-color: #d68d00;
  color: #FFF;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin-right: 10px;
  width: 48px;
  display: inline;
  text-align: center;
}

.input-bullet {
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 200px;
  pointer-events: none;
}

main .main-search input.main-search-input::placeholder {
  font-family: 'GothamPro';
  font-size: 1.3rem;
}

main .main-search .main-search-dropdown-label {
  font-size: 1.65em;
  font-weight: 200;
}

main .main-search .cant-find-category {
  font-size: 1.75em;
  font-weight: 100;
  text-align: center;
}

main .main-reviews h3 {
  margin: 0.6em 0;
  font-size: 1.80em;
  font-weight: 100;
}

main .profile-wrapper .profile {
  display: flex;
  padding: 10px;
}

main .profile-wrapper .profile .profile-image {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .profile-wrapper .profile .profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 200px;
}

main .profile .profile-image .location {
  font-weight: 200;
}

main .profile .profile-review {
  width: 75%;
}

main .profile .profile-review-header {
  margin-bottom: 10px;
}

main .profile .profile-review-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
}

main .profile .profile-read-review {
  text-align: right;
}

main .profile .profile-read-review a {
  color: #dfc34c;
  text-decoration: none;
}

.review-star {
  color: #d89108;
}


section.main-content {
  display: flex;
}

section.main-content .main-search {
  width: 61%;
}

section.main-content .main-wrapper {
  width: 80%;
}

section.main-content .main-reviews {
  width: 39%;
}

section.main-content .cant-find-category a {
  color: white
}

footer {
    display: flex;
}

footer > div {
    margin: 0 5%;
    width: 33.33%;
    margin-top: 50px;
}

.footer-logo img {
    width: 200px;
}

.footer-logo .sub-title {
    color: #00367c;
    font-weight: 400;
    font-size: 0.90rem;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-center .footer-links a {
    color: #929ba4;
    font-weight: 200;
    text-decoration: none;
}

.footer-center .footer-links ul {
    padding-left: 0;
    display:flex;
}

.footer-center .footer-links ul li {
    padding: 0 3em;
    color: #929ba4;
}

.footer-center .copyright {
    text-align: center;
    font-weight: 200;
    color: #929ba4;
}

.footer-trademark {
    display: flex;
    flex-direction: column;
}

.footer-trademark img {
    width: 150px;
}

.footer-trademark .bbb-logo-rating {
    margin-top: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #056594;
    font-size: 0.90em;
}